<!-- INíCIO do CONTEÚDO -->
<section class="content-header">
  <h1>
    Todos os Restaurantes
  </h1>
</section>


<section class="content">
  <div class = "col-sm-6 col-xs-12" *ngFor="let restaurant of restaurants">
    <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
  </div>
</section>

<!-- FIM  do CONTEÚDO -->
