<div class="form-group" [class.has-success]="hasSuccess()"
     [class.has-error]="hasError()">
  <label class="control-label sr-only"><i class="fa fa-check"></i> {{label}}</label>
  <ng-content></ng-content>
  <span class="help-block" *ngIf="hasSuccess()"><i class="fa fa-check"></i> Ok</span>
  <span class="help-block" *ngIf="hasError()"><i class="fa fa-check"></i> {{errorMessage}}</span>
</div>
